#schemes{
    
    .schemeLegend{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        .schemeLegend__item{
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;

            p{
                font-size: 14px;
                margin-right: 25px;
                padding: 2px 0 0;
            }

            .schemeLegend__box{
                width: 24px;
                height: 24px;
                border-radius: 5px;
                background-color: rgba(235,111,97, 0.95);
                margin-right: 7px;
            }

            .schemeLegend__box--yellow{
                background-color: rgba(240,226,71, 0.95);
            }

            .schemeLegend__box--blue{
                background-color: rgba(76,206,240, 0.95);
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-rows: 3rem;
        grid-auto-rows: auto;
    }
    
    .wrapper .border {
        border-right: 1px solid grey;
    }
    
    .box-text, .box-text-sm {
        color: #fff;
        border-radius: 10px;
        text-align: center;
        margin: 0.3rem;
        padding: 0.3rem;

        a{
            color: #fff;
            text-decoration: none;
            font-weight: bold!important; 
            font-size: 14px;
            display: block;
        }
    }
    
    .heading {
        font-size: 1.7rem;
        text-align: center;
    }
    
    .blue-box {
        background-color: rgba(235,111,97, 0.95);
    }
    .green-box {
        background-color: rgba(240,226,71, 0.95);
    }
    
    .purple-box {
        background-color: rgba(76,206,240, 0.95);
    }


    .green-box a{
        color:  #707070;
    }
    

    .box-text:hover, .box-text-sm:hover {
        filter: brightness(108%);
    }

    .grade.wrapper{
        grid-template-columns: repeat(10, [col] 10% );
    }
    .grade{
        .pk {
            grid-column: 1;
            grid-row: 1 / 8;
        }
        
        .k {
            grid-column: 2;
            grid-row: 1 / 8;
        }
        
        .one {
            grid-column: 3;
            grid-row: 1 / 8;
        }
        
        .two {
            grid-column: 4;
            grid-row: 1 / 8;
        }
        
        .three {
            grid-column: 5;
            grid-row: 1 / 8;
        }
        
        .four {
            grid-column: 6;
            grid-row: 1 / 8;
        }
        
        .five {
            grid-column: 7;
            grid-row: 1 / 8;
        }
        
        .six {
            grid-column: 8;
            grid-row: 1 / 8;
        }
        
        .seven {
            grid-column: 9;
            grid-row: 1 / 8;
        }
        
        .eight {
            grid-column: 10;
            grid-row: 1 / 8;
        }
        
        .awe {
            grid-column: 1 / 3;
            grid-row: 2;
        }
        
        .kodu {
            grid-column: 3 / 8;
            grid-row: 2;
        }
        
        .python {
            grid-column: 8 / 11;
            grid-row: 2;
        }
        
        .techie {
            grid-column: 2;
            grid-row: 3;
        }
        
        .scratch {
            grid-column: 5 / 8;
            grid-row: 3;
        }
        
        .club {
            grid-column: 3 / 6;
            grid-row: 4;
        }
        
        .modding {
            grid-column: 6 / 11;
            grid-row: 4;
        }
        
        .web {
            grid-column: 6 / 11;
            grid-row: 5;
        }
        
        .kidbots {
            grid-column: 3 / 5;
            grid-row: 6;
        }
        
        .anibots {
            grid-column: 5 / 8;
            grid-row: 6;
        }
        
        .spacebots {
            grid-column: 8 / 11;
            grid-row: 6;
        }
        
        .earthbot {
            grid-column: 5 / 8;
            grid-row: 7;
        }
        
        .robot {
            grid-column: 8 / 11;
            grid-row: 7;
        }
    }


    .online.wrapper{
        grid-template-columns: repeat(9, [col] 11% );
    }
    .online{  
        .k {
            grid-column: 1;
            grid-row: 1 / 10;
        }
        
        .one {
            grid-column: 2;
            grid-row: 1 / 10;
        }
        
        .two {
            grid-column: 3;
            grid-row: 1 / 10;
        }
        
        .three {
            grid-column: 4;
            grid-row: 1 / 10;
        }
        
        .four {
            grid-column: 5;
            grid-row: 1 / 10;
        }
        
        .five {
            grid-column: 6;
            grid-row: 1 / 10;
        }
        
        .six {
            grid-column: 7;
            grid-row: 1 / 10;
        }
        
        .seven {
            grid-column: 8;
            grid-row: 1 / 10;
        }
        
        .eight {
            grid-column: 9;
            grid-row: 1 / 10;
        }
    
        .scratchJr{
            grid-column: 1 / 4;
            grid-row: 2;
        }
        .VGD3d{
            grid-column: 2 / 5;
            grid-row: 3;
        }
        .scratch{
            grid-column: 4 / 7;
            grid-row: 2;
        }
        .minecraftJavaMods{
            grid-column: 4 / 7;
            grid-row: 5;
        }
        .modding{
            grid-column: 6 / 10;
            grid-row: 6;
        }
        .club{
            grid-column: 2 / 5;
            grid-row: 6;
        }
        .robloxB{
            grid-column: 2 / 5;
            grid-row: 7;
        }
        .robloxC{
            grid-column: 5 / 8;
            grid-row: 7;
        }
        .python{
            grid-column: 6 / 10;
            grid-row: 8;
        }
        .web{
            grid-column: 6 / 10;
            grid-row: 9;
        }
    }

    .age-online.wrapper{
        grid-template-columns: repeat(9, [col] 11% );
    }
    .age-online{  
        .age5 {
            grid-column: 1;
            grid-row: 1 / 10;
        }
        
        .age6 {
            grid-column: 2;
            grid-row: 1 / 10;
        }
        
        .age7 {
            grid-column: 3;
            grid-row: 1 / 10;
        }
        
        .age8 {
            grid-column: 4;
            grid-row: 1 / 10;
        }
        
        .age9 {
            grid-column: 5;
            grid-row: 1 / 10;
        }
        
        .age10 {
            grid-column: 6;
            grid-row: 1 / 10;
        }
        
        .age11 {
            grid-column: 7;
            grid-row: 1 / 10;
        }
        
        .age12 {
            grid-column: 8;
            grid-row: 1 / 10;
        }
        
        .age13 {
            grid-column: 9;
            grid-row: 1 / 10;
        }
    
        .scratchJr{
            grid-column: 1 / 4;
            grid-row: 2;
        }
        .VGD3d{
            grid-column: 2 / 5;
            grid-row: 3;
        }
        .scratch{
            grid-column: 4 / 7;
            grid-row: 2;
        }
        .minecraftJavaMods{
            grid-column: 4 / 7;
            grid-row: 5;
        }
        .modding{
            grid-column: 6 / 10;
            grid-row: 6;
        }
        .club{
            grid-column: 2 / 5;
            grid-row: 6;
        }
        .robloxB{
            grid-column: 2 / 5;
            grid-row: 7;
        }
        .robloxC{
            grid-column: 5 / 8;
            grid-row: 7;
        }
        .python{
            grid-column: 6 / 10;
            grid-row: 8;
        }
        .web{
            grid-column: 6 / 10;
            grid-row: 9;
        }
    }

    .age.wrapper{
        grid-template-columns: repeat(9, [col] 11% );
    }
    .age{  
        .age5 {
            grid-column: 1;
            grid-row: 1 / 8;
        }
        
        .age6 {
            grid-column: 2;
            grid-row: 1 / 8;
        }
        
        .age7 {
            grid-column: 3;
            grid-row: 1 / 8;
        }
        
        .age8 {
            grid-column: 4;
            grid-row: 1 / 8;
        }
        
        .age9 {
            grid-column: 5;
            grid-row: 1 / 8;
        }
        
        .age10 {
            grid-column: 6;
            grid-row: 1 / 8;
        }
        
        .age11 {
            grid-column: 7;
            grid-row: 1 / 8;
        }
        
        .age12 {
            grid-column: 8;
            grid-row: 1 / 8;
        }
        
        .age13 {
            grid-column: 9;
            grid-row: 1 / 8;
        }
        
        
        .awe {
            grid-column: 1;
            grid-row: 2;
        }
        
        .kodu {
            grid-column: 2 / 7;
            grid-row: 2;
        }
        
        .python {
            grid-column: 7 / 10;
            grid-row: 2;
        }
        
        .techie {
            grid-column: 1 / 3;
            grid-row: 3;
        }
        
        .scratch {
            grid-column: 4 / 7;
            grid-row: 3;
        }
        
        .club {
            grid-column: 2 / 5;
            grid-row: 4;
        }
        
        .modding {
            grid-column: 5 / 10;
            grid-row: 4;
        }
        
        .web {
            grid-column: 5 / 10;
            grid-row: 5;
        }
        
        .kidbots {
            grid-column: 2 / 4;
            grid-row: 6;
        }
        
        .anibots {
            grid-column: 4 / 7;
            grid-row: 6;
        }
        
        .spacebots {
            grid-column: 7 / 10;
            grid-row: 6;
        }
        
        .earthbot {
            grid-column: 4 / 7;
            grid-row: 7;
        }
        
        .robot {
            grid-column: 7 / 10;
            grid-row: 7;
        }
    }
    

    
    
    
    /* @media screen and (min-width: 1001px) {
        div.box-font {
        font-size: 20px;
        }
        
    } */
    
    @media screen and (max-width: 1200px) and (min-width: 601px) {
        .box-text{
            a{
                font-size: 12px;
            }
        }
        .box-text-sm{
            a{
                font-size: 10px;
            }
        }
        .heading {
            font-size: 1.2rem;
        }
        .schemeLegend{
            .schemeLegend__item{
                p{font-size: 12px;}
                .schemeLegend__box{
                    width: 22px;
                    height: 22px;
                }
            }
        }
           
    }
    
    @media screen and (max-width: 600px) {

        .schemeLegend{
            .schemeLegend__item{
                p{font-size: 12px;}
                .schemeLegend__box{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    
        .box-text{
            a{
                font-size: 12px;
            }
        }
        .box-text-sm{
            a{
                font-size: 10px;
            }
        }
        .wrapper {
        grid-template-rows: 1.5rem;
        }
        
        .heading {
        font-size: 0.8rem;
        }
        
        
        .blue-box {
        margin: 0.1rem;
        padding: 0.1rem;
        }
        
        .green-box {
        margin: 0.1rem;
        padding: 0.1rem;
        }
        
        .purple-box {
        margin: 0.1rem;
        padding: 0.1rem;
        }
        
    }
    
    a{
        width: 100%;
    }
}
