@charset "UTF-8";
.blogContainer {
  width: 100%;
  padding-top: 45px;
}

.blogBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .blogBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.blogBox__cover {
  height: 198px;
  width: 100%;
  overflow: hidden;
  border-top: 4px solid #fe6500;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .blogBox__cover {
    width: 30%;
    border-top: none;
    border-left: 4px solid #fe6500;
  }
}

.blogBox__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .blogBox__content {
    width: 70%;
    padding: 20px;
  }
}

.blogBox__title {
  margin-bottom: 5px;
}

.blogBox__date {
  color: #cfcfcf;
  font-size: 14px;
  padding: 0;
}

.blogBox__readMore {
  display: block;
  background-color: #fe6500;
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
}

@media (min-width: 768px) {
  .blogBox__readMore {
    width: 250px;
  }
}

.blogBox__readMore:hover {
  background-color: #f9e821;
}

.blogBox__readMore:hover + .blogBox__cover {
  border-bottom: 4px solid #f9e821;
}

.blogBox:not(:last-child) {
  margin-bottom: 25px;
}

.blogPage__container h2 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .blogPage__container h2 {
    font-size: 35px;
  }
}

.blogPage__container h3 {
  margin-bottom: 12px;
  margin-top: 17px;
  font-size: 21px;
}

@media (min-width: 768px) {
  .blogPage__container h3 {
    font-size: 31px;
  }
}

.blogPage__container h4 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
}

@media (min-width: 768px) {
  .blogPage__container h4 {
    font-size: 28px;
  }
}

.blogPage__container ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

.blogPage__container ol > li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 0;
  list-style: none;
}

.blogPage__container ol > li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  left: -2em;
  color: #fe6500;
  font-weight: bold;
  text-align: center;
}

.blogPage__container li ol,
.blogPage__container ol ol li:last-child {
  margin-bottom: 0;
}

.blogPage__container li > p {
  padding: 0 !important;
}

.blogPage__title {
  margin-bottom: 10px !important;
  font-weight: bold;
  color: #707070;
  margin-top: 30px !important;
  font-size: 30px !important;
}

@media (min-width: 768px) {
  .blogPage__title {
    font-size: 40px !important;
  }
}

.blogPage__Img {
  height: 350px;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogPage__calloutBox {
  background-color: whitesmoke;
  padding: 20px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-left: 4px solid #fe6500;
}

.blogPage__calloutBox h2 {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 25px;
}

@media (min-width: 768px) {
  .blogPage__calloutBox h2 {
    font-size: 30px;
  }
  .blogPage__calloutBox h2 span {
    font-size: 30px !important;
  }
}

.blogPage__calloutBox h2 span {
  font-size: 25px;
}

.blogPage__calloutBox h3 {
  margin-bottom: 13px;
  margin-top: 0;
  font-size: 22px;
}

@media (min-width: 768px) {
  .blogPage__calloutBox h3 {
    font-size: 37px;
  }
  .blogPage__calloutBox h3 span {
    font-size: 37px !important;
  }
}

.blogPage__calloutBox h3 span {
  font-size: 22px;
}

.blogPage__atention {
  background-color: #fe6500;
  padding: 20px 30px;
  margin: 10px 0;
  color: white;
}

.blogPage__atention h1, .blogPage__atention h2, .blogPage__atention h3, .blogPage__atention h4, .blogPage__atention h5 {
  color: white !important;
}

.blogPage__atention a {
  color: white !important;
}

.blogPage__date {
  margin-bottom: 25px;
}

.blogPage__date i {
  color: #fe6500;
}

.blogPage__blockquote {
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPage__blockquote cite {
  font-size: 14px;
  line-height: 10px;
  text-align: left;
  color: #A0A0A0;
  font-style: normal;
  margin-top: -5px;
}

.blogPage__blockquote cite:before {
  content: '— ';
}

.blogPage__blockquote img {
  display: block;
  right: 0;
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 25px;
}

.blogPage__blockquote blockquote {
  margin: 15px 15px 30px 15px;
  padding: 25px 25px 35px;
  font-size: 16px;
  background: whitesmoke;
  border-left: 4px solid;
  border-color: #fe6500;
  position: relative;
}

.blogPage__blockquote blockquote::after {
  right: 100%;
  top: 95px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #fe6500;
  border-width: 10px;
}

.blogPage__blockquote blockquote p {
  font-style: italic;
  margin-top: 20px;
}

.blogPage__blockquote blockquote p::before {
  content: "“";
  font-family: Georgia;
  font-size: 40px;
  line-height: 0;
  display: inline-block;
}

.relatedArticles__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.relatedArticles__box:first-child {
  margin-top: 90px;
}

@media (min-width: 768px) {
  .relatedArticles__box:first-child {
    margin-top: 0;
  }
}

.relatedArticles__content {
  padding: 20px 10px;
  background-color: #fe6500;
  width: 55%;
}

.relatedArticles__title {
  color: white;
  margin-bottom: 10px;
  font-size: 22px;
}

.relatedArticles__date {
  color: whitesmoke;
  font-size: 14px;
}

.relatedArticles__img {
  height: 200px;
  width: 45%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.relatedArticles__ReadMore {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: #52d0f1;
  color: white;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 20px 16px 20px;
  text-align: center;
}

.relatedArticles__ReadMore:hover {
  background-color: #f9e821;
}
/*# sourceMappingURL=styleBlog.css.map */