@import "style1.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "style7.css";
@import "styleBlog.css";
@import "style_reg.css";
@import "styleBlog.css";
@import "tableFilter.css";
@import "popup.css";
@import "schemes.css";
