.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
    @media only screen and (min-width: 801px){
        padding: 15px 10px!important;
    }
}



@media only screen and (max-width: 800px){
    #responsiveTable {
        border: none!important;
    }
    #responsiveTable tr{
        border-top: none!important;
        border-bottom: none!important;
        vertical-align: middle!important;
        padding: 10px;
    }
    #responsiveTable td {
        color:  #707070;
        vertical-align: middle!important;
        padding: 15px 0;
        &:before{
            color: #fe6500;
            top: 50%!important;
            margin-top: -10px;
        }
    }
}

#responsiveTable{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px!important;
    overflow: auto!important;
    box-shadow: 0 0 25px rgba(#E0E0E0,0.9);
    .table {
        border-spacing: 3!important;
        border-collapse: collapse!important;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        background: white;
        margin-bottom: 0!important;
    }

    .table td, .table th {
        @media only screen and (min-width: 801px){
            padding-left: 8px;
        }
    }
    .table thead tr {
        @media only screen and (min-width: 801px){
            height: 60px;
        }
        background: #fe6500;
    }

    .table thead tr td:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-left: 3px solid #fe6500;
    }
    
    .table thead tr td:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: 3px solid #fe6500;
    }

    .table tbody tr {
        @media only screen and (min-width: 801px){
            height: 50px;
        }
    }
    
    .table tbody tr:last-child {
        border: 0;
    }
    .table td, .table th {
        @media only screen and (min-width: 801px){
            text-align: left;
        }
    }

    .table thead th{
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset;
        border-bottom: none!important;
    }
    
    tbody tr:nth-child(even) {
        background-color: #F8F8F8;
    }
    
    tbody tr {
        font-size: 15px;
        color: #808080;
        line-height: 1.2;
        font-weight: unset;
    }

    tbody tr td{
        border-top: none!important;
        @media only screen and (min-width: 801px){
            max-width: 400px;
        }
    }

    
    tbody tr:hover {
        color: #555555;
        background-color: #F0F0F0;
        cursor: pointer;
    }
}

#techTable{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px!important;
    overflow: auto!important;
    box-shadow: 0 0 25px rgba(#E0E0E0,0.9);

    .table {
        border-spacing: 3!important;
        border-collapse: collapse!important;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        background: white;
        margin-bottom: 0!important;
        width: 100%;
        table-layout: fixed;
        @media only screen and (max-width: 768px) and (min-width: 0px) {
            // overflow: scroll!important;
            // width: 900px;
            table-layout: auto;
          }
    }

    thead tr th:first-child,
    tbody tr td:first-child {
        width: 40%;
        min-width: 40%;
        max-width: 40%;
    }

    table, th, td {
        border-collapse: collapse;
      }

    .table td, .table th {
            padding-left: 8px;
    }
    .table thead tr {
        height: 60px;
        background: #fe6500;
    }

    .table thead tr td:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-left: 3px solid #fe6500;
    }
    
    .table thead tr td:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: 3px solid #fe6500;
    }

    .table tbody tr {
        height: 50px;
    }
    
    .table tbody tr:last-child {
        border: 0;
    }
    .table td, .table th {
        text-align: left;
        
    }

    // .table td{
    //     width: 100%;
    // }

    .table thead th{
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset;
        border-bottom: none!important;
        text-align: center;
        @media only screen and (max-width: 768px) and (min-width: 0px) {
            font-size: 12px;
          }
    }
    
    tbody tr:nth-child(even) {
        background-color: #F8F8F8;
    }
    
    tbody tr {
        font-size: 15px;
        color: #808080;
        line-height: 1.2;
        font-weight: unset;

        @media only screen and (max-width: 768px) and (min-width: 0px) {
            font-size: 12px;
          }
    }

    tbody tr td{
        border-top: none!important;
        max-width: 400px;

    }

    
    tbody tr:hover {
        color: #555555;
        background-color: #F0F0F0;
        cursor: pointer;
    }        
    .yes{
        color: #34a853!important;
        font-size: 1.8em;
        text-align: center!important;
        @media only screen and (max-width: 768px) and (min-width: 0px) {
            font-size: 1.3em;
          }
    }
    .no{
        color:#ea4335!important;
        font-size: 1.8em;
        text-align: center!important;
        @media only screen and (max-width: 768px) and (min-width: 0px) {
            font-size: 1.3em;
          }
    }
}

#roboticsTable{
    .table td, .table th {
        @media only screen and (min-width: 801px){
            text-align: center!important;
        }
    }
}


////////////////////////////////////////////////
.filterTable{
    position: relative;
    margin-bottom: 10px;
}
.filterTable__form{
        display: none; 
    input{
        margin-left: 15px;
    }
}
.filterForm__wrapper{
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    label {
        display: flex;
        align-items: center;
    }
}
.filterTable__btn {
    color: black;
    font-size: smaller;
    background-color:#cfcfcf;
    display: block;
    height: 40px;
    width: 145px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    &:hover{
        background-color: #52d0f1;
        color: white;
    }
}
.clicked {
    font-weight: bold;
    // text-decoration-color: #52d0f1;
    background-color: #52d0f1;
    color: white;
}
.ClassesFilterButton{
    position: absolute;
    top: 0px;
    left: 165px;
}

