.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

@media only screen and (min-width: 801px) {
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px 10px !important;
  }
}

@media only screen and (max-width: 800px) {
  #responsiveTable {
    border: none !important;
  }
  #responsiveTable tr {
    border-top: none !important;
    border-bottom: none !important;
    vertical-align: middle !important;
    padding: 10px;
  }
  #responsiveTable td {
    color: #707070;
    vertical-align: middle !important;
    padding: 15px 0;
  }
  #responsiveTable td:before {
    color: #fe6500;
    top: 50% !important;
    margin-top: -10px;
  }
}

#responsiveTable {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px !important;
  overflow: auto !important;
  -webkit-box-shadow: 0 0 25px rgba(224, 224, 224, 0.9);
          box-shadow: 0 0 25px rgba(224, 224, 224, 0.9);
}

#responsiveTable .table {
  border-spacing: 3 !important;
  border-collapse: collapse !important;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background: white;
  margin-bottom: 0 !important;
}

@media only screen and (min-width: 801px) {
  #responsiveTable .table td, #responsiveTable .table th {
    padding-left: 8px;
  }
}

#responsiveTable .table thead tr {
  background: #fe6500;
}

@media only screen and (min-width: 801px) {
  #responsiveTable .table thead tr {
    height: 60px;
  }
}

#responsiveTable .table thead tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 3px solid #fe6500;
}

#responsiveTable .table thead tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 3px solid #fe6500;
}

@media only screen and (min-width: 801px) {
  #responsiveTable .table tbody tr {
    height: 50px;
  }
}

#responsiveTable .table tbody tr:last-child {
  border: 0;
}

@media only screen and (min-width: 801px) {
  #responsiveTable .table td, #responsiveTable .table th {
    text-align: left;
  }
}

#responsiveTable .table thead th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  border-bottom: none !important;
}

#responsiveTable tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

#responsiveTable tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

#responsiveTable tbody tr td {
  border-top: none !important;
}

@media only screen and (min-width: 801px) {
  #responsiveTable tbody tr td {
    max-width: 400px;
  }
}

#responsiveTable tbody tr:hover {
  color: #555555;
  background-color: #F0F0F0;
  cursor: pointer;
}

#techTable {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px !important;
  overflow: auto !important;
  -webkit-box-shadow: 0 0 25px rgba(224, 224, 224, 0.9);
          box-shadow: 0 0 25px rgba(224, 224, 224, 0.9);
}

#techTable .table {
  border-spacing: 3 !important;
  border-collapse: collapse !important;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background: white;
  margin-bottom: 0 !important;
  width: 100%;
  table-layout: fixed;
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  #techTable .table {
    overflow: scroll !important;
    width: 900px;
  }
}

#techTable thead tr th:first-child,
#techTable tbody tr td:first-child {
  width: 40%;
  min-width: 40%;
  max-width: 40%;
  word-break: break-all;
}

#techTable table, #techTable th, #techTable td {
  border-collapse: collapse;
}

#techTable .table td, #techTable .table th {
  padding-left: 8px;
}

#techTable .table thead tr {
  height: 60px;
  background: #fe6500;
}

#techTable .table thead tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 3px solid #fe6500;
}

#techTable .table thead tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 3px solid #fe6500;
}

#techTable .table tbody tr {
  height: 50px;
}

#techTable .table tbody tr:last-child {
  border: 0;
}

#techTable .table td, #techTable .table th {
  text-align: left;
}

#techTable .table thead th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  border-bottom: none !important;
}

#techTable tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

#techTable tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

#techTable tbody tr td {
  border-top: none !important;
  max-width: 400px;
}

#techTable tbody tr:hover {
  color: #555555;
  background-color: #F0F0F0;
  cursor: pointer;
}

#techTable .yes {
  color: #34a853 !important;
}

#techTable .no {
  color: #ea4335 !important;
}

.filterTable {
  position: relative;
  margin-bottom: 10px;
}

.filterTable__form {
  display: none;
}

.filterTable__form input {
  margin-left: 15px;
}

.filterForm__wrapper {
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.filterForm__wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filterTable__btn {
  color: black;
  font-size: smaller;
  background-color: #cfcfcf;
  display: block;
  height: 40px;
  width: 145px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.filterTable__btn:hover {
  background-color: #52d0f1;
  color: white;
}

.clicked {
  font-weight: bold;
  background-color: #52d0f1;
  color: white;
}

.ClassesFilterButton {
  position: absolute;
  top: 0px;
  left: 165px;
}
/*# sourceMappingURL=tableFilter.css.map */